<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>铂涛员工工资条</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
		tr {border:1px red solid;}
		td {border:1px red solid;}
	</style>
</head>
<body>
    <table>
    	<tr>
    		<td>请输入手机号<td>
    		<td><input type="text"></text></td>
    	<tr>
    	<tr>
    		<td><td>
    		<td><button>获取验证码</button></td>
    	<tr>
    </table>   	
</body>
</html>