<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>铂涛员工工资条</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
	<script src="/js/png.js"></script>
	<style src="css/png.css" type="text/css"></style>
    <style type="text/css">
	</style>
	<script>
	</script>
</head>
<body>
	<p th:text="${message}">
    <table>
    	<tr>
    		<td>请输入手机b号</td>
    		<td><input type="text" id="mobileInput" value="13412341234"></input></td>
    	</tr>
    	<tr>
    		<td>请输入图片的数字</td>
    		<td><input id="robotCheckCodeInput" type="text"></input><img src="/robotCheckImage"></td>
    	</tr>
    	<tr>
    		<td>请输入短信验证码</td>
    		<td><input type="text" id="vcodeInput"></input><button id="triggerSmsCodeButton">获取验证码</button></td>
    	</tr>
    	<tr>
    		<td></td>
    		<td><button id="getSalaryButton">查看工资条</button></td>
    	</tr>
    </table>   	
</body>
</html>